.popupModal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(151, 149, 149, 0.563);
}

.modalContent {
    background-color: #ffffff;
    position: fixed;
    margin: 0;
    padding: 0;
    border-radius: 8px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cross {
    color: red;
}

.login {
    background-color: #73ABFF;
    border: none;

}