.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2.5rem;
    box-shadow: 0 0 20px #dbd9d9;
}

.header button {
    width: 140px;
    padding: 12px 20px;
    border: none;
    border-radius: 50px;
    color: #ffffff;
    font-size: Medium;
}

.registerButton {
    background-color: #FF7373;
    margin-right: 2rem;
}

.signInButton {
    background-color: #73ABFF;
}
