.popupModal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(151, 149, 149, 0.563);
}

.modalContent {
    background-color: #fff;
    padding: 2rem 2rem;
    border-radius: 8px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 600;
    border-radius: 20px;
}

.formGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.formField {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}

.formField input,label{
    flex: 1;
    padding: 0.5rem;
}

.formField input {
    margin-left: 2rem;
    min-width: 250px;
    font-family: Poppins;
}

.eyeIcon {
    position: fixed;
    right: 55px;
    top: 50%;
    transform: translate(0, 140%);
    cursor: pointer;
}

.cross {
    color: red;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
}

.register {
    background-color: #73ABFF;
    border: none;
    margin-top: 10px;
    align-self: center;
    padding: 1rem 2rem;
    border-radius: 50px;
    font-weight: 600;
    font-size: 15px;
}